<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>
 
<main>
    <h1>Eliminar Productos</h1>
    <hr>

    <form id="getproduct-form" class="formulario">
        <label for="idProd">Id del producto</label>
        <input type="number" name="idProd" id="idProd" required>

        <input type="submit" value="Consultar producto">
    </form>

    <div id="contenedor_productos">
        <ul id="lista_productos"></ul>
    </div>
</main>

<script src="js/delete.js"></script>
<%- include("partials/footer.ejs") %>