    <header>
        <img src="../frontend/assets/Logo_Trabajo.png" alt="LOGO">
        <nav>
            <ul>
                <li><a href="/products">Ver</a></li>
                <li><a href="/get">Consultar id</a></li>
                <li><a href="/create">Crear</a></li>
                <li><a href="/update">Modificar</a></li>
                <li><a href="/delete">Eliminar</a></li>
                
            </ul>
            <a href ="vistas/bienvenida.html" id="boton-logout" class="login">Logout</a>
        </nav>
    </header>