    <header>
        <img src="../frontend/assets/Logo_Trabajo.png" alt="LOGO">
        <nav>
            <ul>
                <li><a href="/products/index">Ver</a></li>
                <li><a href="/products/Consultar">Consultar id</a></li>
                <li><a href="/products/crear">Crear</a></li>
                <li><a href="/products/modificar">Modificar</a></li>
                <li><a href="/products/eliminar">Eliminar</a></li>
                
            </ul>
            <a href ="/frontend/vistas/bienvenida.html" id="boton-logout" class="login">Logout</a>
        </nav>
    </header>





//estan mal las rutas 