/* ==========================================================
                  VARIABLES GLOBALES
==========================================================*/
:root {
  --color-principal: #010801;     /* Color dominante (header, botones) */
  --color-principal-hover: #08274b; /* Versión más clara para hover */
  --color-fondo: #b6b6b6;         /* Fondo general */
  --color-texto: #333;            /* Texto principal */
  --color-blanco: #ffffff;        /* Blanco puro */
  --color-borde: #fff0f0;            /* Bordes suaves */
  --color-sombra: rgba(0, 0, 0, 0.1);
  --fuente-principal: "Arial", sans-serif;
}
/*==========================================================
                  ESTILOS GENERALES
========================================================== */
body {
  margin: 0;
  padding: 0;
  font-family: var(--fuente-principal);
  background-color: var(--color-fondo);
  color: var(--color-texto);
  display: flex; /* Habilita flexbox para el cuerpo */
  flex-direction: column; /* Organiza los hijos en una columna */
  min-height: 100vh; /
 
}

/*==========================================================
                       HEADER
========================================================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;     /* Centrado vertical */
  background-color:rgb(0, 0, 0);
  color: var(--color-blanco);
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
}

header img{
  width: 150px;
  height: 130px;
}

/*==========================================================
                         FOOTER
========================================================== */

footer {
  width: 100%;
  background-color: var(--color-principal);
  color: var(--color-blanco);
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 33%; /* Separa los textos */
  position: fixed;
  bottom: 0; 
}

/* ================================================================
                     PANTALLA BIENVENIDA
=================================================================*/
#main-bienvenida{
  flex: 1; /* ocupa todo el espacio libre */
  display: flex;
  justify-content: center;
  align-items: center;
}
.pantalla-bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo);
}
.panel-bienvenida {
  background-color: var(--color-blanco);
  padding: 50px 60px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px var(--color-sombra);
  text-align: center;
  width: 90%;
  max-width: 400px;
  transition: transform 0.25s ease;
}
.panel-bienvenida:hover {
  transform: scale(1.02);
}


/* ================================================================
                     PANTALLA INDEX
=================================================================*/


#main-index {
  width: 90%;
  margin: 0 auto; /* centra el main */
  display: flex;
  flex-direction: column; /* carrito arriba, productos abajo */
  align-items: center;
  gap: 30px; /* separación entre carrito y productos */
  padding-top: 20px;
  padding-bottom: 80px; 
  flex-wrap: wrap;
}


#lista-productos {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos bajen a la siguiente fila */
  align-items: center;
 
}



.card-producto { /*TARJETAS DE PRODUCTOS*/
  background-color: var(--color-blanco);
  border: 1px solid var(--color-borde);
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--color-sombra);
  transition: transform 0.2s;
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 200px;
  height: 330px;
  margin: 5px;
  padding: 15px;
}

.card-producto:hover {
  transform: scale(1.03);
}

.card-producto img { /* Imagen dentro de la tarjeta */
  width: 100%;
  height: 220px;
  border-radius: 8px;
  object-fit: cover;          /* recorta sin deformar */
  background-color: #eee;     /* por si falta imagen */
}

.card-producto h3 { /* Título del producto */
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-texto);
  line-height: 1.2;
}

.card-producto .precio { /* Precio */
  margin: 0;
  font-weight: bold;
  color: var(--color-principal);
  font-size: 1rem;
}

.btn-agregar { /* Botón agregar */
  background-color: var(--color-principal);
  color: var(--color-blanco);
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-agregar:hover {
  background-color: var(--color-principal-hover);
}

#info-carrito {
  background-color: var(--color-blanco);
  color: var(--color-principal);
  padding: 5px 12px;
  border-radius: 8px;
  font-weight: bold;
}

/*==========================================================
                     ASIDE (CARRITO)
===========================================================*/
#carrito {
  width: 280px;
  background-color: var(--color-blanco);
  border-radius: 10px;
  border: 1px solid var(--color-borde);
  padding: 15px;
  box-shadow: 0 2px 6px var(--color-sombra);
}

#carrito h2 {
  text-align: center;
  color: var(--color-principal);
}

#carrito-items {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  max-height: 250px;
  overflow-y: auto;
}

#carrito-items li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
}

/* Botones del carrito */
#carrito button {
  display: block;
  width: 100%;
  margin-top: 10px;
  background-color: var(--color-principal);
  color: var(--color-blanco);
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

#carrito button:hover {
  background-color: var(--color-principal-hover);
}

