body{
    margin: 0;
    padding: 0;
    background-color: rgb(241, 232, 222);
}

header{
    background-color: black;
    display: flex;
    align-items: center;     /* Centrado vertical */  
    justify-content: space-between; 
}

header h1{
    color: azure;
    margin: 10px;
}

img{
    width: 150px;
    height: 130px;
}


main{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: center;
    flex-direction: column; /* Apila todo de arriba a bajo como columna*/
    
}

#ticket{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid #ccc;
    padding: 50px;
    transition: transform 0.25s ease;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

#ticket:hover {
  transform: scale(1.02);
}



footer{
    height: 5vh;
    display: flex;
    align-items: center;     /* Centrado vertical */
}


#volver {
  
    background: rgb(255, 255, 255);
    border: 2px solid #ccc;
    border-radius: 10px; 
    
    font-size: 30px; /* Tamaño grande para la flecha */
    width: 100%;     /* Ancho fijo para el botón */
    height: auto;    /* Altura fija para el botón */
    
    display: flex; 
    align-items: center;
    justify-content: center;
    
    transition: transform 0.25s ease;
    
}

#volver:hover {
  transform: scale(1.02);
}